.text{ background-color: #ffffff;font-family:arial;margin:auto;}
a.index1:hover{background-color: #111111;color:#ffffff}
.tabl {font-family:arial;}
.text1{font-family:arial;}
.index{font-family:arial;margin-top:20px;margin-right:40px;margin-bottom:100px;margin-left:20px;}